body {
  text-align: center;
}
#Secret-Santa {
  margin-top: 20px;
  width: 400px;
}

#header {
  margin: auto;
  display: inline-block;
  background-color: var(--blue);
  color: white;
  height: 150px;
  width: 400px;
  text-align: left;
}
#buttons-container {
  font-size: 22px;
  /* position: absolute; */
  margin-left: 2.5%;
  width: 95%;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
}
.header-button {
  border-radius: var(--round-corner);
  cursor: pointer;
  padding: 12px 60px 12px 60px;
}
.header-button:hover {
  transition: 0.3s;
}
.actions:hover {
  background-color: white;
  color: var(--blue);
}
#search-by-santa {
  background-color: var(--red);
}
#container {
  /* position: absolute; */
  width: 100%;
  margin: auto;
  margin-top: 100px;
}
#lookup-container {
  display: flex;
  justify-content: center;
  text-align: center;
}
#is {
  margin-right: 20px;
}

/* Got the gist of how to do a slide reveal from:
https://codepen.io/renatocontaifer/pen/xfAHG */
.box-slide {
  width: 350px;
  position: relative;
  margin-top: 15px;
  display: inline-block;
  overflow: hidden;
  font-size: 25px;
}
.box-slide:hover .reveal-top {
  top: -100%;
}
.reveal-content {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--green);
  transition: left 0.4 ease;
  border-radius: var(--round-corner);
}
.reveal-top {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: all 0.6s ease;
  border-radius: var(--round-corner);
  /* display: inline-block; */
}
.caption {
  background-color: white;
  color: var(--blue);
  /* background: #222;
  color: #fff; */
}


#wrapper {
  display: inline-block;
  margin-top: 17px;
}
.details {
  font-size: 27px;
}
#for {
  margin-left: 55px;
  margin-right: 25px;
}
#is {
    margin-left: 25px;
}
select {
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  text-align-last: center;
  font-size: 25px;
  border: none;
  height: 50px;
  /* color: var(--red); */
  color: var(--blue);

  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; */
}
option {
  text-align: center;
  /* text-align-last: center; */
}

select::-ms-expand {
    display: none; /* Remove default arrow in Internet Explorer 10 and 11 */
}
/* select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(http://www.stackoverflow.com/favicon.ico) 95% / 20% no-repeat #fff;
} */
/* select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
} */
