:root {
  --dark-blue: #5997C9;
  --light-blue: #BDD5E9;
  --red: #E34424;
  --green: #65C56C;
  --round-corner: 5px;
}

body {
  background-color: var(--light-blue);
  width: 100%;
  text-align: center;
  font-family: "Arial", sans-serif;
}
